body { width: 50em; font-family: sans-serif; margin: 5em; line-height: 1.5; font-size: 10pt; text-align: justify; }
sup { font-size: smaller; }
p { margin: 0em 0em 0.5em; text-indent: 1em; }
p.first { text-indent: 0em; }
ul { margin: 1em; }
pre { margin-left: 2em; }
li { list-style: bullet; }
dl { margin: 1em; }
dt.def { }
dt.glos { font-weight: bold; }
dt.key { font-weight: bold; }
dd { margin-left: 1em; text-indent: 0em; }
table { width: 30em; margin: 1em; }
hr { margin: 2em 0em 2em; }
td { line-height: 1.25; vertical-align: top; padding-right: 1em; }
td.year { text-align: right; }
th { text-align: left; padding-right: 1em; vertical-align: top; }
a { font-style: italic; }
a.sym { font-family: monospace; font-style: normal; }
a:link { color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 3.6em; background-color: orange; padding: 0.5em 0em 0.5em 0.5em; width: 100%; font-weight: bold; font-variant: small-caps; margin: 0.5em 0em; }
h2 { font-size: 1.8em; color: orange; background-color: black; width: 100%; margin: 2em 0em 1em; padding: 0.5em; width: 100%; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; font-weight: bold; margin-bottom: 0em; }
blockquote { margin: 0.5em 3em 0.5em; text-indent: 0; width: 46em; font-style: italic; }
